body {    
    display: flex;
    flex-direction: column;
    gap: 30px; 
    width: 100vw;      
}
header {
    height: 100px;
    background-color: red;
    width: 480px;
}
.banner {
    height: 190px;
    background-color: aqua;
    width: 100%;
}
main {
    display: flex;
    gap: 30px;
    width: 100vw;
}
.main__block {
    width: 100%;
}
.main__block__banner {    
    height: 250px;
    background-color: gray;
}
.main__block__border {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;    
}
.main__border__b {    
    border-bottom: 10px solid gray;    
}
.main__block_1 {
    display: none;
}
.main__block_2 {
    display: none;
}
@media only screen and (min-width:481px) and (max-width:768px) {  
    .main__block_1 {
        display: flex;
        flex-direction: column;
    }
    body {
        width: 100vw;
    }
    header {
        width: 50%;
    }    
}  
@media only screen and (min-width:769px) and (max-width:1140px) {
    .main__block_1 {
        display: flex;
        flex-direction: column;
    }
    .main__block_2 {
        display: flex;
        flex-direction: column;
    }
    body {
        width: 100vwpx;
    }
    header {
        width: 33.33%%;
    }  
}

